body {
    background-image: url('../img/mar.gif');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: rgba(33, 158, 174, 0.7);

}

.conteudo h1 {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.conteudo p {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.conteudo {
    width: auto;
    text-align: center;
    margin: 300px 600px;
}

/* Outros parametros possiveis!
background-position: top;
background-position: center;
background-position: bottom;
background-position: right top;
background-position: right center;
background-position: right bottom;
background-position: center top;
background-position: center;
background-position: center bottom;
*/