body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    background-color: rgba(0, 200, 10, 0.7);
    background-attachment: fixed;
    background-size: cover;
}

.secao {
    margin: 7% 15%;
    background-color: white;
    border-style: solid;
    border-color: rgba(112, 105, 105, 0.604);
    padding-top: 2%;
    padding-bottom: 5%;
    opacity: 85%;
}

.secao h1 {
    background-color: rgba(253, 76, 17, 0.9);
    margin: 3% 40%;
    display: inline;
    font-style: italic;
    text-decoration: underline;
    font-size: 42px;
}

.secao h2 {
    background-color: rgba(252, 132, 92, 0.9);
    display: inline;
    font-style: italic;
    margin: 7% 7%;
    text-decoration: underline;
    font-size: 28px;
}

.secao p {
    font-size: 20px;
    margin-left: 7%;
    margin-right: 5%;
}

.secao span {
    background-color: rgba(252, 169, 92, 0.9);
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.introducao p {
    font-size: 22px;

}

.introducao img {
    min-width: 5%;
    max-width: calc(69% - 2px);
    margin: 2px 15%;
    min-height: 5%;
    max-height: calc(15% - 2px);
    height: 20%;
    display: block;
    box-sizing: border-box;
    padding: 10px 10px;
}

.imagens {
    margin-left: 7%;
    opacity:100%;

}

.imagens img {
    max-width: calc((90% / 3) - 2px);
    height: 5%;
    opacity: 100%;
}


.conteudo h2 {
    background-color: grey;
}

.conteudo span{
    background-color: grey;
    
}