
img {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 35px auto;
}

.imagem-produto, .apresentacao-padaria {
    height: 600px;
    width: 800px;
}

.logo {
    width: 200px;
    height: 200px;
}

.links {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}

a {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 22px;
    padding: 50px;
    text-align: center;
    
}

 .titulo-apresentacao {
  text-align: center;
  font-size: 32px;
  margin: 30px auto;

}

.apresentacao-padaria{

}
