* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.container-cadastro{
    position: relative;
    color: rgb(15, 15, 15);
    display: flex;
    width: 50vw;
    height: 75vh;
    margin: 10% 25%;
    align-items: center;
    background-color: rgb(133, 221, 241);
    flex-flow: column wrap;
    flex-grow: 1px;
    border: 2px solid rgb(15, 15, 15);
}

fieldset {
    width: 72%;
    min-height: 50%;
    max-height: 50%;
    left: 0;
    top: 15px;
    position: absolute;
    top: 15px;
    font-size: 30px;    
    margin: 10% 10%;
    display: flex;
    flex-flow: column wrap;
    
}

legend {
    display: flex;
    font-style: italic;
    color: rgb(15, 15, 15);
    align-items: center;
    
}

label {
    font-size: 22px;
    color: red;
    text-decoration: underline;
    padding: 5px;
}

input {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 15px;
    margin: 5px auto;
    align-items: center;
}

.campos{
    width: auto;
    height: 50%;
}

button{
    margin: 10px auto;
    opacity: 85%;
    background-color: red; 
    border: 1px solid #ccc;
    width: 85%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 22px;
}

@media (min-width: 600px){

    .container-cadastro{
        display: block;
    }
}





