* {
    font-family: 'Arial', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-cadastro
{
    position: relative;
    height: 20%;
    min-height: 500px;
    width: 40%;
    margin: 12% 25%;
    align-items: center;
    flex-flow: column wrap;
    flex: 1px 1px auto;
    border: 2px solid #c1c1c1;
    border-radius: 10px;
    box-shadow: -15px 15px 5px #dbdada;
    
    margin: 10% 28%;
    background-color: #f8ebd3;
}

.container-cadastro__fieldset
 {
    width: 85%;
    min-height: 400px;
    font-size: 30px;    
    margin: 7% 8%;
    border-radius: 6px;
    padding: 0 5%;
    background-color: white;
}

label
 {
    margin-top: 30px;
    font-size: 28px;
    display: block;
    color: rgba(8, 8, 8, 0.918);
}

legend {
    font-size: 45px;
    color: rgba(36, 36, 36, 0.89);
    /* font-weight: bold; */
    /* color: rgb(165, 255, 255);*/
}
input
{
    min-width: 90%;
    max-width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1.82px;
    border-radius: 5px;
    margin-top: 2%;
    align-items: center;
    padding: 7px;
}

.campos
{
    width: 25%;
    height: 50%;
}

button
{
    margin-top: 8%;
    opacity: 85%;
    background-color: #8de9dd;
    border: 0.2px solid #ccc;
    padding: 15px 32px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    color: black;
}

@media (max-width: 1000px){
    .container-cadastro__fieldset{
        width: 320px;
    }
    .container-cadastro{
        width: 400px;
    }


}






